<p>Paso 2</p>
    <div class="llenado">
        <input type="text" placeholder="nombre" id="nombre">
        <input type="text" placeholder="apellido" id="apellido">
        <input type="text" placeholder="Universidad" id="universidad">
        <input type="text" placeholder="Titulo" id="titulo">
        

        <input type="number" placeholder="CI" id="ci">
        <input type="number" placeholder="Edad" id="edad">

    </div>
<div class="button">
    <button type="button" onclick="javascript:get_datos()"><a href="CV3.php">registrar los datos ingresados</a></button>
</div>