<p>Paso 2</p>
<div class="llenado">
    <div class="en_linea">
        <input type="text" placeholder="nombres" id="nombres">
        <input type="text" placeholder="apellidos" id="apellidos">
    </div>
    <div class="en_linea">
        <label>Sexo</label>
        <select id="sexo">
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
        </select>
        <input type="number" placeholder="Celular" id="celular">
    </div>
    
    <div class="en_linea">
        <input type="number" placeholder="Peso" id="peso">
        <input type="number" placeholder="altura" id="altura">
    </div>
</div>
<div class="button">
    <button type="button" onclick="javascript:get_datos()"><a href="user_perfil.php">Registrarse</a></button>
</div>