<div class="suscripcion_profesional">
    <div class="informacion_profesional">
        <div>
            <img src="../static/imgs/123.jpg" alt="profesional">
        </div>
        <div>
            <p style="font-style: italic; text-decoration: underline; margin-bottom: 5px;">profesional_name</p>
            <p>Lorem ipsum dolor, sit amet</p>
        </div>
        <div>
            <button>Ver chat</button>
        </div>
    </div>
    <div class="informacion_plan">
        <div>
            <label for="">Plan </label><input type="text" placeholder="[mes/anio]">
        </div>
        <div>
            <label for="">Monto </label><input type="text" placeholder="[x Bs]">
        </div>
    </div>
    <div class="chances">
        <div>
            <button>Cambiar plan</button>
        </div>
        <div>
            <button>Eliminar</button>
        </div>
    </div>
</div>

<div class="meal_table">
    <table border="1">
        <caption>Tabla de comidas</caption>
        <thead>
            <th>dia</th>
            <th>lunes</th>
            <th>martes</th>
            <th>miercoles</th>
            <th>jueves</th>
            <th>viernes</th>
            <th>sabado</th>
            <th>domingo</th>
        </thead>
        <tbody>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td>
                <td>f</td>
                <td>g</td>
                <td>h</td>
            </tr>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td>
                <td>f</td>
                <td>g</td>
                <td>h</td>
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"><b>no consuma mucha carne</b></td>
            </tr>
        </tfoot>
    </table>
</div>